<a href="https://colab.research.google.com/github/camilacruz-cs/Python-para-Analise-de-Dados-EBAC/blob/main/M%C3%B3dulo%201%20%7C%20Python%3A%20Vari%C3%A1veis%20%26%20Tipos%20de%20Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

Crie uma célua de texto e adicione uma imagem.

In [ ]:
primeiro_codigo = 'Olá, mundo!'
print(primeiro_codigo)

Olá, mundo!

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# (A) = 106.839

QntTotalVendas = 3
TicketMedio = 320.52

ValorTotal = QntTotalVendas/TicketMedio
print(ValorTotal)

0.009359790340696368

In [ ]:
# (B)

VTV = 834.47
TM = 119.21

QuantidadeTotal = VTV/TM
print(QuantidadeTotal)

QuantidadeTotal = 7
B = QuantidadeTotal
print(B)

7.000000000000001
7

In [ ]:
# (C)

VendasTotal = 15378.12
QntTotal = 5

QuantidadeFinalMedio = VendasTotal/QntTotal
print(QuantidadeFinalMedio)

QuantidadeFinalMedio = 3075.6240
C = QuantidadeFinalMedio
print(C)

3075.6240000000003
3075.624

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

In [ ]:
X = cancao.count('roda')
print(X)

X = cancao.count('Roda')
print(X)

3
1

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

x = cancao.replace('mundo', 'baiana')
print(x)

Roda baiana, roda gigante, roda moinho, roda pião.

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

x = cancao.upper()


print(x)

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

In [ ]:
print(noticia)
print(type(noticia))

extrair = noticia[0:5]
print(extrair)

EXTRAIR = noticia[62:63]
print(EXTRAIR)

Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.
<class 'str'>
Selic
6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b

print(x)

True